<%-include('../layout/head')-%>

<div>
    <%-include('../partials/admin-header')-%>
</div>

<div class="container">
        <div class="row d-flex justify-content-center align-items-center  " style="height: 100vh;">
           <h1>Admin Dashbord</h1>
        </div>
    </div>

<%-include('../layout/footer')-%>
