    <%-include('../layout/head')-%>

    <div>
        <%-include('../partials/admin-header')-%>
    </div>

    <div class="container">
            <div class="row d-flex justify-content-center align-items-center  " style="height: 100vh; padding-top: 50px;">
            <div class="shadow">
                <select name="date" class="btn btn-secondary m-3" onchange="chart()" id="date">
                    <option value="day">day</option>
                    <option value="month">month </option>
                    <option value="year">year</option>
                </select>
                <div style="width: 1000px;"><canvas id="acquisitions"></canvas></div>
            </div>
            </div>
        </div>
        
        <script>

</script>

    <%-include('../layout/footer')-%>
