<%-include('../layout/head')-%>

<div>
    <%-include('../partials/admin-header')-%>
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center " style="height: 100vh;">
        <div class="leftPart col-md-6">
            <form id="sample" class="border border-success rounded p-4" action="/admin/add-new-catogeries" method="post" onsubmit="return validateForm()">
                <div class="mb-3">
                    <input type="text" id="categoryname" required name="name" placeholder="Category Name" class="form-control border border-success rounded">
                    <span id="categoryname_error" class="text-danger"><%=duplicate_category_name%></span>
                </div>
                <div class="mb-3">
                    <input type="text" name="description" placeholder="Description" class="form-control border border-success rounded">
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        // Perform your form validation here
        // For example, check if the required field is not empty
        var categoryName = document.getElementById('categoryname').value;
        if (categoryName.trim() === '') {
            alert('Please fill out the Category Name');
            return false; // Prevent form submission
        }

        // If validation passes, show the success alert
        alert('The Category added successfully');
        return true; // Allow form submission
    }
</script>


<%-include('../layout/footer')-%>
