<footer  >
    <div class="container">
      <div class=" row  first-row ">
        <div class="col-lg-3  col-sm-6" >
          <div class="first-part">
            <ul>
              <li><h4>Exclusive</h4></li>
              <li><h6>Subscribe</h6></li>
              <li><h6>Get 10% off your first order</h6></li>
              
            </ul>
          </div>
        </div>
    
        <div class="col-lg-3  col-sm-6">
          <div class="first-part">
            <ul>
              <li><h4>Support</h4></li>
              <li><h6>Mobile Cart Team,</h6></li>
              <li><h6>Kozhikode,</h6></li>
              <li><h6>+91 11223345  ,</h6></li>
            </ul>
          </div>
        </div>
    
        <div class="col-lg-3  col-sm-6">
          <div class="first-part">
            <ul>
              <li><h4>Account</h4></li>
              <li><h6>My account</h6></li>
              <li><h6>Login/Register</h6></li>
              <li><h6>Cart</h6></li>
              <li><h6>Whish List</h6></li>
              <li><h6>Shop</h6></li>
            </ul>
          </div>
        </div>
    
        <div class="col-lg-3  col-6">
          <div class="first-part">
            <ul>
              <li><h4>Quick Link</h4></li>
              <li><h6>Privecy Policy</h6></li>
              <li><h6>Terms Of Use</h6></li>
              <li><h6>FAQ</h6></li>
              <li><h6>Contact</h6></li>
            </ul>
          </div>
        </div>
      </div>
      <div class=" second-part  " style="font-size:xx-large ;">
            <div><a href=""><i class="fa-brands fa-facebook" style="color: #ffffff; margin: 20px;"></i></a></div>
            <div><a href=""><i class="fa-brands fa-instagram" style="color: #fcfcfc;margin: 20px;"></i></a></div>
            <div><a href=""><i class="fa-brands fa-x-twitter" style="color: #ffffff;margin: 20px;"></i></a></div>
            <div><a href=""><i class="fa-brands fa-linkedin" style="color: #ffffff;margin: 20px;"></i></a></div>
      </div>
    </div>
  </footer>