<footer  >
    <div class="container">
      <div class=" row  first-row ">
          <div class="text-light text-center h3 mt-4">follow us :</div>
      </div>
      <div class=" second-part  " style="font-size:xx-large ;">
            <div><a href=""><i class="fa-brands fa-facebook" style="color: #ffffff; margin: 20px;"></i></a></div>
            <div><a href=""><i class="fa-brands fa-instagram" style="color: #fcfcfc;margin: 20px;"></i></a></div>
            <div><a href=""><i class="fa-brands fa-x-twitter" style="color: #ffffff;margin: 20px;"></i></a></div>
            <div><a href=""><i class="fa-brands fa-linkedin" style="color: #ffffff;margin: 20px;"></i></a></div>
      </div>
    </div>
  </footer>