<%-include('../layout/head')-%>
<%-include('../partials/user-header')-%>

<div class="row "  >
  <div class="d-flex justify-content-center align-items-center " style="height: 100vh;"  >
      <form class=" p-3 rounded d-flex  flex-column  border border-success  "  action="/login/forgetPassword" method="post">
            <div>
                <h2 class="text-success">Forget Your Password..?</h2>
            </div>
          <div class="mb-3">
              <input type="text" style="width:100%;" name="username" class="form-control border border-success" id="username_signUp" placeholder="Enter Username" aria-describedby="emailHelp">
              <span id="username_error_signUp"></span>
            </div>
          <div class="mb-3">
            <input type="password" style="width:100%;" name="password" class="form-control border border-success" placeholder="Enter New Password " id="password_signUp">
            <span id="password_error_signUp"></span>
          </div>
         <div class="mb-3">
            <input type="password" style="width:100%;" name="ConformPassword" class="form-control border border-success" placeholder="Confirm  Password" id="ConformPassword_signUp">
            <span id="ConformPassword_error_signUp"></span>
          </div>
            <button type="submit" style="width:100%;" onclick="return forget_password_validation()" class="btn btn-success ">Reset Password</button>        
            <div>
                <span><%=resetPasswordMessage%></span>
            </div>
            <div>
                <a href="/login">Go To Back Login Page</a>
            </div>
        </form>
  </div>    
</div>

<script>
 
</script>


<%-include('../layout/footer')-%>