<%-include('../layout/head')-%>
    <!-- user header partial -->
 <%-include('../partials/user-header')-%>

 <div class="d-flex justify-content-center align-items-center  " style="height: 100vh; background: #c5c5c5;">
    <div class="shadow rounded-4 p-3 d-flex flex-column justify-content-center align-items-center bg-light">
         <div class="d-flex justify-content-center align-items-center p-5" style="background-color: rgb(201, 201, 201); border-radius: 100%; " >
            <i class="fa-solid fa-thumbs-up fa-beat  text-success" style=" font-size: 120px; "></i>
         </div>
         <div>
            <p>We received your purchase request; <br> we'll be in touch shrtly!</p>
         </div>
         <div class="d-flex justify-content-start">
            <div>
                <button class="btn btn-success me-1">Order</button>
            </div>
            <div>
                <a href="/" class="btn btn-success">Back To Shop</a>
            </div>
         </div>
    </div>
 </div>

         <!-- user footer partials -->
 <%-include('../partials/user-footer')-%>
         <!-- user footer partials -->
<%-include('../layout/footer')-%>