<%-include('../layout/head')-%>
<%-include('../partials/user-header')-%>
<div class="row">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form class="p-4 rounded d-flex flex-column border border-success align-items-center" action="/otp" method="post">
      <div>
        <h2 class="text-success mb-3">Enter OTP...</h2>
      </div>
      <div class="mb-3 d-flex">
        <input type="number" name="otp1" style="width: 50px;" class="form-control border-bottom border border-success disabled" id="otp1" aria-describedby="emailHelp">
        <input type="number" name="otp2" style="width: 50px;" class="form-control border-bottom border border-success" id="otp2" aria-describedby="emailHelp">
        <input type="number" name="otp3" style="width: 50px;" class="form-control border-bottom border border-success" id="otp3" aria-describedby="emailHelp">
        <input type="number" name="otp4" style="width: 50px;" class="form-control border-bottom border border-success" id="otp4" aria-describedby="emailHelp">
      </div>
      <span id="otpErrorMessage" class="text-danger fw-bold"><%= OTPmessage ? "Incorrect OTP" : "" %></span>
      <button type="submit" class="btn btn-success">Submit</button>
      <a class="text-success" style="margin-left: 0px;" href="/login">Cancel</a>
      <div class="timerDiv mt-3">
        <div id="timer" class="timer">00:00</div>
        <div>
          <a id="resendOTP" class="btn btn-success" href="/user/otp/resend_otp" style="display: none;">Resend OTP?</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let timer = 60;

    function updateTimer() {
      const minutes = Math.floor(timer / 60);
      const seconds = timer % 60;

      const formattedMinutes = minutes < 10 ? "0" + minutes : minutes;
      const formattedSeconds = seconds < 10 ? "0" + seconds : seconds;

      document.getElementById("timer").textContent = formattedMinutes + ":" + formattedSeconds;

      if (--timer < 0) {
        clearInterval(timerInterval);
        document.getElementById("timer").textContent = "";
        document.getElementById("resendOTP").style.display = "block";
      }
    }

    const timerInterval = setInterval(updateTimer, 1000);
  });
</script>

<%-include('../layout/footer')-%>
