#cart{
    display: flex;
    padding-top: 150px;
}
.diplayCartIems{
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 10px;
   
}
.itemsShow{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.cart_button{
    display: flex;
    gap: 5px;
    
}
.cart_button .input1{
    width: 46px;
    height: 28px;
}
.cart_button input{
    width: 100%;
    border-radius: 10%;
    border: 1px;
    background: #b3b3b3;
    font-weight: bold;
    text-align: center; 
}
.cart_button button{
    width: 28px;
    height: 28px;
    border-style: none;
    border-radius: 50%;
    background: #b3b3b3;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_image img{
    width: 30%;
}


.priceDetails_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin-top: 10px;
}