
#product_view{
    /* height: 30rem; */
    /* width: 15rem; */
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: scale(1);
    transition: all .4s;
     
}#product_view:hover{
    transform: scale(.98);
}
#product_list_link{
    /* height: 30rem; */
    width: 15rem;
    margin-left: 50px;
    
}

#image_user{
    width: 100%;
   
    position: relative;
    
}
.card-body{
    font-size: 10px;
    width: 100%;
    height: 35%;
   
}

#product_name_homepage{
    width: 100%;
   
}

#image_{
    width: 70%; 
}

  .isStock{
    position: absolute;
    padding: 3px;
    border-radius: 10px;
  }