#placeOrderSection{
    /* height: 100vh; */
     padding-top: 80px;
}
#SelectAddressHead{
    font-weight: bold;
}
.displayAddressContainer{
    overflow-y: scroll;
    max-height: 200px;
}
.paymentMethods{
    /* height: 200px; */
 
}
.modal{
    margin-top: 100px;
}